<!DOCTYPE html>
<html>
  <head>
    <title>EXPRESS DEV TOOLS</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>HOME</h1>
    <a href="/skills">SKILLS</a>
    <a href="/skills/new">NEW SKILL</a>
  </body>
</html>
